@media only screen and (max-width:1000px) {
	
	#me .one-third{
		width: 60%;
		float: none;
		margin: 0 auto;
		padding: 2em 2em;
	}

	#me .two-third{
		float: none;
		padding: 2em 5em;
		width: 100%;
		margin: 0 auto;

	}

	figcaption h3{

		font-size: 1.3em;
		padding-top: 3em;
		

	}


}


@media only screen and (max-width:875px) {
  
	nav a{	
	font-size: 1.2em;
	padding: 0em 2em;

	}	

	h3 {
		font-size: 1.5em;
	}
	h4 {
	font-size: 1.3em;
	}

	p{
		font-size: 1.3em;
	}

	.logo {
		padding: 0em 3em;
	}


	figcaption h3{
		line-height: 1.2em;
		font-size: 1.2em;
		padding-top: 6em;

	}

	figcaption p{
		font-family: 'PT Mono', Arial, serif; 
		color: #fff;
		text-align: center;
		padding: 1em 1em;
		font-size: .8em;
}

	footer img{
		width: 80%;
	}

	footer h4{
		font-size: 1.2em;
	}


	nav a{	
		font-size: 1.1em;
		padding: 0em 1em;

	}	
	
   section {
  	padding: 4em 0em 4em 0em;
	}
	

	#thoughts {
		padding: 0em 4em;
	}
	#thoughts .one-third {

		width: 100%;
		margin: 4em auto;
		float: none;
		padding: 0em;
	}



	#work .one-half{
		width: 90%;
		padding: 3em 3em;
		margin: 1.5em auto;
		min-height: 0em;
		float: none;
	}

	#work img {
		padding: 1em 0em 2em 0em;
	}


	#work h4 {
		font-size: 1.4em;
		padding: 0em 0em 1em 0em;
	}

}

@media only screen and (max-width:750px) {
	
	.grid{
		float: none;
	}

	#galley img{
		position: relative;
	}

	#gallery .one-half {
		width: 100%;

	}
	#gallery .one-fourth{
		width: 100%;
		float: none;
	}

	.vertical {
		display: none;

	}

	figcaption {
		right: 0em;
		bottom: 3em;
		display: block;
		opacity: 1;
		width: 50%;
		height: 4em;
	}

	figcaption h3{
		font-size: .8em;
		padding: 2em;

	}
	
	.spain h3 {
  		padding: 1.5em;
	}
	.spain p{
		display: none;
	}

}


@media only screen and (max-width:550px) {


	#me p{
		font-size: 1.2em;
	}


	#work .one-half{

		padding: 2em;
	}

	p{
	
		text-align: justify;
	}

	footer img{
		width: 85%;
	}

	footer h4{
		font-size: 1em;
	}


header {
	position: static;
	/*height: 130px;*/
	background-color: rgb(36, 37, 35);
	margin: 0em auto;
	padding: 0em;
}

#splash {
	display: none;
}

nav {
	float: none;
	margin: 0em auto;
	padding-top: 1em;
	width: 100%;

}

nav a {
	display: block;
	padding: 1em;
	text-align: center;
	border-bottom: thin solid rgb(36, 37, 35);
	background-color: #434444;
	color: #fff;
}

.favicon {
	display: none;
}

.responsive {
	display: block;
}

.logo {
	float: none;
	width: 70%;
	padding-top: 1em;
	margin: 0em auto;
}

.logo img{
		width: 100%;
}


	
}
