@import url(http://fonts.googleapis.com/css?family=Abel);
* {margin:0; padding:0; box-sizing:border-box;}

body {
	color: #000000;
	font-size: 16px;
	font-family: 'helvetica', sans-serif;
}
header {
	position: relative;
}
.header-bar {
	background-image: url("../images/white.jpg");
	color: #141414;
	position: relative;
	padding: 15px 0;
}
.header-bar img{
	opacity: .5;
}

.logo {
	padding: 20px;
	width: 25%;
}
.logo img {
	width: 100%;
}

nav {
	padding: 20px;
	font-size: 1.5em;
	word-spacing: 40px; 
	position: absolute;
	right:50px;
	top: 60px;

}
nav a{ 
	color: #141414;
	text-decoration: none;}

h1 {
	font-size: 4em;
	font-family: 'Abel', sans-serif;
	line-height: 1.5em;	
}
h2 {
	font-size: 2em;
	line-height: 1.5em;
	font-family: 'Abel', sans-serif;}
	text-align: center;


p {
	line-height: 1.5em;
	font-size: 1.5em;
	font-weight: 100;
}
a{ 
	color: #3d4b61;
	text-decoration: none;

}
a:hover {
	color: #f8971f;
}


#splash {
	padding: 4em 2em;
	height: 80vh;
	background-image: url("../images/zbreadvideo.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	color: #ffffff
}

#about {
	background-color: #f37920;
	color: #ffffff;
	text-align: center;
	padding: 50px;
}
#about p{
	padding:50px;

}
.wrapper {
	max-width: 1600px;
	margin: 0px 60px 0px 60px;

}
.product {
	float: left;
	width: 33%;
	padding: 0px 40px 0px 40px;
	margin: 20px 0px 20px 0px;
}

.product img {
	width: 100%;
}

.buy {
	padding: 50px; 
}

.clear: {
	clear:both;
}


