* {margin:0; padding:0; box-sizing:border-box;}
body {
	text-align: center;  
	background-image: url("../images/zbread.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	color: #ffffff;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}
header {
	
}
section {
	border:1px solid #000;
	height:500px;
}
h1 {
	font-size: 4em;
	font-weight: 600;
}
h2 {
	font-size:2em;
}
a {
}
.logo {
	
}
.slogan {
	font-style: italic;
}

#contact h2{
	text-transform: uppercase;
}
