* {margin:0; padding:0; box-sizing:border-box;}
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
	color: #000000;
	font-size: 20px;
	font-family: 'helvetica', sans-serif;
}
header {
	background-color: #3d4b61;
	color: #ffffff
}

#logo {
	padding-top: 20px;
	padding-left: 20px;
}

nav {
	padding: 20px;
	font-size: 1.5em;
	word-spacing: 40px; 

}
nav a{ 
	color: #ffffff;
	text-decoration: none;}

h1 {
	font-size: 4em;
	font-family: 'Abel', sans-serif;
	line-height: 1.5em;	
}
h2 {
	font-size: 2em;
	line-height: 1.5em;
	font-family: 'Abel', sans-serif;}
	text-align: center;


p {
	line-height: 1.5em;
	font-size: 1.5em;
	font-weight: 100;
}
a{ 
	color: #3d4b61;
	text-decoration: none;

}
a:hover {
	color: #f8971f;
}

.slogan {
	font-style: italic;
}

#splash {
	height: 80vh;
	background-image: url("../images/zbreadvideo.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	color: #ffffff
}

#about {
	background-color: #3d4b61;
	color: #ffffff;
	text-align: center;
	padding: 50px;
}
#about p{
	padding-top: 20px;

}

#contact h2{
	text-transform: uppercase;
}
#featured {
	padding: 50px; 
}
hr.product{
	color:  #3d4b61;
	width: 50px;
}

